@import "tailwindcss";

@theme {
  --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* main text */
  --color-foreground: rgba(245, 245, 244, 1);
  --color-foreground-dark: rgba(163, 163, 163, 1);
  --color-muted: rgba(245, 245, 244, 0.7);

  /* interactable elements use blue */
  --color-primary: rgba(79, 124, 255, 1); /* #4f7cff */
  --color-primary-hover: rgba(59, 102, 240, 1); /* #3b66f0 */

  /* green and red*/
  --color-success: rgba(22, 163, 74, 1); /* #22c55e */
  --color-success-hover: rgba(21, 128, 61, 1); /* #15803d */
  --color-error: rgba(220, 38, 38, 1); /* #ef4444 */
  --color-error-hover: rgba(185, 28, 28, 1); /* #b71c1c */

  /* slate colors for backgrounds and borders */
  --color-slate: rgba(15, 23, 32, 1); /* #64748b */
  --color-slate-dark: rgba(2, 6, 23, 1); /* #475569 */
  --color-slate-light: rgba(30, 41, 59, 1); /* #94a3b8 */
  --color-slate-bright: rgba(51, 65, 85, 1); /* #334155 */
}

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }

  body {
    @apply bg-slate text-foreground font-sans text-lg font-semibold antialiased;
    line-height: 1.5;
    font-weight: 500;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-muted;
  }
}

/* Autofill styling overrides to match current color scheme.
*/
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #0f172a inset !important;
  box-shadow: 0 0 0px 1000px #0f172a inset !important;
  -webkit-text-fill-color: #e5e7eb !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #0f172a inset !important;
  box-shadow: 0 0 0px 1000px #0f172a inset !important;
  -webkit-text-fill-color: #e5e7eb !important;
}
